body {
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    background-color: black;
}

header h1 {
    flex: 1 0 30%;
    font-size: 2.98vw;
    color: floralwhite;    
}

#progress {
    flex: 2 0 69.8%;
}

#caughtOf{
    flex: 1 0 50%;  
}

#needed{
    flex: 1 0 50%;
}

#boxes table{
    border-collapse: collapse; 
    text-align: left;
    justify-content: space-around;
} 

#boxes {
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff; overflow: hidden; border: 2px solid #991821;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 120px;
}

#boxes table td, #boxes table th { 
    width: 100px
}

#boxes table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );
    background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color:#991821; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: normal; 
    border-left: 1px solid #B01C26; 
} 

#boxes table thead th:first-child { 
    border: none; 
}

#boxes table tbody td { 
    color: #000000; 
    border-left: 1px solid #00496B;
    font-size: 12px;
    border-bottom: 1px solid #00496B;
    font-weight: normal; 
}

#boxes table tbody td:first-child { 
    border-left: none; 
}

#boxes table tbody tr:last-child td { 
    border-bottom: none; 
}